<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>emitterCell1</string>
		<key>enabled</key>
		<true/>
		<key>birthRate</key>
		<integer>0</integer>
		<key>lifetime</key>
		<integer>2</integer>
		<key>lifetimeRange</key>
		<integer>0</integer>
		<key>emissionLatitude</key>
		<integer>0</integer>
		<key>emissionLongitude</key>
		<integer>0</integer>
		<key>emissionRange</key>
		<integer>0</integer>
		<key>velocity</key>
		<integer>40</integer>
		<key>velocityRange</key>
		<integer>0</integer>
		<key>xAcceleration</key>
		<integer>0</integer>
		<key>yAcceleration</key>
		<integer>0</integer>
		<key>zAcceleration</key>
		<integer>0</integer>
		<key>scale</key>
		<real>0.5</real>
		<key>scaleRange</key>
		<integer>0</integer>
		<key>scaleSpeed</key>
		<real>-0.2</real>
		<key>spin</key>
		<integer>0</integer>
		<key>spinRange</key>
		<integer>0</integer>
		<key>redRange</key>
		<integer>0</integer>
		<key>greenRange</key>
		<integer>0</integer>
		<key>blueRange</key>
		<integer>0</integer>
		<key>alphaRange</key>
		<integer>0</integer>
		<key>redSpeed</key>
		<real>-0.5</real>
		<key>greenSpeed</key>
		<real>-0.2</real>
		<key>blueSpeed</key>
		<real>-0.5</real>
		<key>alphaSpeed</key>
		<integer>0</integer>
		<key>contents</key>
		<integer>0</integer>
		<key>contentsRect</key>
		<string>{{0, 0}, {1, 1}}</string>
		<key>contentsScale</key>
		<integer>0</integer>
		<key>minificationFilter</key>
		<string>kCAFilterLinear</string>
		<key>magnificationFilter</key>
		<string>0</string>
		<key>minificationFilterBias</key>
		<string>kCAFilterTrilinear</string>
		<key>style</key>
		<dict/>
		<key>emitterCells</key>
		<array>
			<dict>
				<key>name</key>
				<string>circle</string>
				<key>enabled</key>
				<true/>
				<key>birthRate</key>
				<integer>10</integer>
				<key>lifetime</key>
				<integer>1</integer>
				<key>lifetimeRange</key>
				<integer>0</integer>
				<key>emissionLatitude</key>
				<integer>0</integer>
				<key>emissionLongitude</key>
				<real>2.5707963267949</real>
				<key>emissionRange</key>
				<integer>0</integer>
				<key>velocity</key>
				<integer>50</integer>
				<key>velocityRange</key>
				<integer>0</integer>
				<key>xAcceleration</key>
				<integer>0</integer>
				<key>yAcceleration</key>
				<integer>0</integer>
				<key>zAcceleration</key>
				<integer>-1</integer>
				<key>scale</key>
				<real>0.5</real>
				<key>scaleRange</key>
				<integer>0</integer>
				<key>scaleSpeed</key>
				<real>-0.2</real>
				<key>spin</key>
				<integer>0</integer>
				<key>spinRange</key>
				<integer>0</integer>
				<key>redRange</key>
				<integer>0</integer>
				<key>greenRange</key>
				<integer>0</integer>
				<key>blueRange</key>
				<integer>0</integer>
				<key>alphaRange</key>
				<integer>0</integer>
				<key>redSpeed</key>
				<real>-0.2</real>
				<key>greenSpeed</key>
				<real>-0.1</real>
				<key>blueSpeed</key>
				<real>0.1</real>
				<key>alphaSpeed</key>
				<real>-0.42</real>
				<key>contents</key>
				<integer>0</integer>
				<key>contentsRect</key>
				<string>{{0, 0}, {1, 1}}</string>
				<key>contentsScale</key>
				<integer>0</integer>
				<key>minificationFilter</key>
				<string>kCAFilterLinear</string>
				<key>magnificationFilter</key>
				<string>0</string>
				<key>minificationFilterBias</key>
				<string>kCAFilterTrilinear</string>
				<key>style</key>
				<dict/>
				<key>emitterCells</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>ball</string>
				<key>enabled</key>
				<true/>
				<key>birthRate</key>
				<integer>0</integer>
				<key>lifetime</key>
				<integer>2</integer>
				<key>lifetimeRange</key>
				<integer>0</integer>
				<key>emissionLatitude</key>
				<integer>0</integer>
				<key>emissionLongitude</key>
				<real>-3.141592653589793</real>
				<key>emissionRange</key>
				<integer>0</integer>
				<key>velocity</key>
				<integer>140</integer>
				<key>velocityRange</key>
				<integer>0</integer>
				<key>xAcceleration</key>
				<integer>0</integer>
				<key>yAcceleration</key>
				<integer>0</integer>
				<key>zAcceleration</key>
				<integer>-1</integer>
				<key>scale</key>
				<real>1.5</real>
				<key>scaleRange</key>
				<integer>0</integer>
				<key>scaleSpeed</key>
				<real>-0.2</real>
				<key>spin</key>
				<integer>0</integer>
				<key>spinRange</key>
				<integer>0</integer>
				<key>redRange</key>
				<integer>0</integer>
				<key>greenRange</key>
				<integer>0</integer>
				<key>blueRange</key>
				<integer>0</integer>
				<key>alphaRange</key>
				<integer>0</integer>
				<key>redSpeed</key>
				<real>0.4</real>
				<key>greenSpeed</key>
				<real>-0.1</real>
				<key>blueSpeed</key>
				<real>-0.5</real>
				<key>alphaSpeed</key>
				<real>-0.2</real>
				<key>contents</key>
				<integer>0</integer>
				<key>contentsRect</key>
				<string>{{0, 0}, {1, 1}}</string>
				<key>contentsScale</key>
				<integer>0</integer>
				<key>minificationFilter</key>
				<string>kCAFilterLinear</string>
				<key>magnificationFilter</key>
				<string>0</string>
				<key>minificationFilterBias</key>
				<string>kCAFilterTrilinear</string>
				<key>style</key>
				<dict/>
				<key>emitterCells</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
